@charset "UTF-8";
/* Указываем box sizing */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a {
  color: inherit;
  text-decoration: inherit;
  cursor: inherit;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

main {
  margin-top: 120px;
  gap: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* шрифты*/
/*заголовок h1*/
/*заголовок h2*/
/*заголовок h3*/
/*заголовок h4*/
/*текст p*/
/*текст span*/
/* ЦВЕТА*/
/* главный цвет*/
/* задний фон*/
/* акцентыный цвет*/
/* цвета форм*/
/* цвет ошибки*/
/* цвет успешный */
/*поставил курсок т.к без него почему то хуйня выскакивает*/
a {
  cursor: pointer;
}

* {
  font-family: "Montserrat", sans-serif;
}

/*текст*/
h1 {
  font-size: 72px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

h2 {
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

h3 {
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

h4 {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

span {
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

/*мобилка*/
@media screen and (max-width: 375px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }
}
/*кнопка*/
.button {
  cursor: pointer;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.25s all linear;
  transition: 0.25s all linear;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.button-primary {
  padding: 12px 20px;
  background: #212529;
  color: #ECECEC;
  font-size: 16px;
}
.button-primary:hover {
  background: #DDD7C0;
  color: #212529;
  -webkit-transition: 0.25s all linear;
  transition: 0.25s all linear;
}
.button-primary:active {
  background: #CBC6B2;
  color: #212529;
}
.button-primary--disabled {
  background: #212529;
  color: #ECECEC;
  opacity: 0.5;
  padding: 12px 20px;
  font-size: 16px;
}
.button-secondary {
  color: #212529;
  text-transform: uppercase;
  border-bottom: 1px solid;
  -webkit-transition: 0.25s all linear;
  transition: 0.25s all linear;
  cursor: pointer;
}
.button-secondary:hover {
  color: #DDD7C0;
}
.button-secondary:active {
  color: #CBC6B2;
}

/* поля ввода*/
input {
  border: none;
  border-bottom: 1px solid;
  outline: none;
  padding-bottom: 12px;
}
input::-webkit-input-placeholder {
  color: #212529;
  font-size: 16px;
}
input::-moz-placeholder {
  color: #212529;
  font-size: 16px;
}
input:-ms-input-placeholder {
  color: #212529;
  font-size: 16px;
}
input::-ms-input-placeholder {
  color: #212529;
  font-size: 16px;
}
input::placeholder {
  color: #212529;
  font-size: 16px;
}
input:focus {
  border-color: #DDD7C0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  top: 0;
  max-width: 1440px;
  width: 100%;
}
.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  max-width: 420px;
}

.promo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 40px;
}
.promo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo__text h1 {
  max-width: 794px;
}
.promo__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.promo__img-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.promo__img-description h4 {
  max-width: 445px;
}

.advertise {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.advertise h2 {
  max-width: 562px;
}
.advertise__description {
  max-width: 679px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}

.algorithm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.algorithm h2 {
  max-width: 562px;
}
.algorithm__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 678px;
  gap: 30px;
}
.algorithm__title p {
  max-width: 325px;
}
.algorithm__title__paragraph {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.algorithm__title .algorithm__paragraph_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-width: 678px;
  border-bottom: 1px solid;
  padding: 24px 0;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.project__img {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(auto, 1fr))[3];
  grid-template-columns: repeat(3, minmax(auto, 1fr));
  row-gap: 30px;
}
.project__img .imgg:hover {
  opacity: 0.8;
}

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px;
}
.reviews__comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.reviews__comments .reviews__comments-block {
  max-width: 445px;
  width: 100%;
  border: 2px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.reviews__comments .reviews__comments-block .text {
  gap: 20px;
  padding: 20px;
  max-width: 365px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}