.application {
  display: flex;
  justify-content: space-between;
 &__form {
  display: flex;
  flex-direction: column;
  gap: 72px;
  &-title {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &-input {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }
  &-btn {
    
    display: flex;
    justify-content: space-between;
  }
 }
}