/* шрифты*/

/*заголовок h1*/
$fz-title: 72px;
$fz-title-mob: 32px;

/*заголовок h2*/
$fz-heading: 48px;
$fz-heading-mob: 28px;

/*заголовок h3*/
$fz-subheading: 36px;
$fz-subheading-mob: 24px;

/*заголовок h4*/
$fz-large: 18px;

/*текст p*/
$fz-normal: 16px;

/*текст span*/
$fz-specific: 12px;

/* ЦВЕТА*/

/* главный цвет*/
$c-main: #212529;

/* задний фон*/
$c-backgrounds: #ECECEC;

/* акцентыный цвет*/
$c-accent: #DDD7C0;
$c-accent-secondary: #CBC6B2;


/* цвета форм*/

/* цвет ошибки*/
$c-form-e: #E13A3A;

/* цвет успешный */
$c-form-s: #F9C67B;

/*поставил курсок т.к без него почему то хуйня выскакивает*/
a{
    cursor: pointer;
}
